.leaderboard-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.leaderboard-container {
  background-image: repeating-radial-gradient(circle, transparent 0%, transparent 10%, rgba(54, 89, 219, 0.33) 10%, rgba(54, 89, 219, 0.33) 17%), linear-gradient(to right, #5b7cfa, #3659db);
  border-radius: 8px;
  padding: 1.5rem;
  width: 100%;
  max-width: 56rem;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  color: black;
}

.leaderboard-container h2 {
  font-size: 2rem;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.leaderboard-table thead {

  position: sticky;
  top: 0;
}

.leaderboard-table th {
  padding: 0.5rem 1rem;
  text-align: left;
  font-size: 1rem;
}

.leaderboard-table th:nth-child(1) {
  width: 16.666%;
}

.leaderboard-table th:nth-child(2) {
  width: 50%;
}

.leaderboard-table th:nth-child(3),
.leaderboard-table th:nth-child(4) {
  width: 16.666%;
  text-align: center;
}

.leaderboard-table tbody{
  background-color: rgba(255, 255, 255, 0.3);
}

.leaderboard-table td {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
}


.leaderboard-table td:nth-child(2) {
  width: 50%;
}

.leaderboard-table td:nth-child(1),
.leaderboard-table td:nth-child(3),
.leaderboard-table td:nth-child(4) {
  width: 16.666%;
  text-align: center;
}


.leaderboard-player-button {
  background: radial-gradient(circle, #C1666B, #8B3A3F);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  cursor: pointer;
  border: none;
  font-weight: 500;
  box-shadow : 0 5px 7px -1px rgba(51, 51, 51, 0.23);
}

.leaderboard-player-button:hover {
    transition: transform 0.15s 
cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s 
cubic-bezier(0.7, 0.98, 0.86, 0.98);
    transform: scale(1.1);
}

.leaderboard-player-button:active {
  transform: scale(0.95);
}

.leaderboard-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  background: black;
}



.leaderboard-container {
  font-weight: 400;
}

